.content {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.titleMain {
		text-align: center;
	font-size: 50px;
	font-family: starCartoon, sans-serif;
	color: rgb(3, 112, 3);
	-webkit-text-stroke: 2px rgb(0, 255, 255);
	margin-top: 2%;
}

.contentAll {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 20px;
	width: 100%;
	height: 100%;
	margin-top: -5%;
}

.contentLogo {
	width: 48%;
	height: auto;
	overflow: hidden;
}
.contentLogo img {
	width: 100%;
	height: 100%;
}

.contentText {
	width: 38%;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: rgba(0, 0, 0, 0.726);
	border-radius: 10px;
	padding: 20px;
}

.contentDescription{
    width: 70%;
    height: auto;
    overflow: hidden;
}

.description {
    text-align: center;
	font-size: 25px;
	font-family: sans-serif;
	letter-spacing: 2px;
    font-weight: 500;
	color: white;
}

.contentLogosInfo {
	width: 100%;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 60px;
}

.contentLinkedin {
	width: 70px;
	height: 70px;
	overflow: hidden;
}

.contentLinkedin img {
	width: 100%;
	height: 100%;
}

.contentGithub {
	width: 70px;
	height: 70px;
	overflow: hidden;
}

.contentGithub img {
	width: 100%;
	height: 100%;
}



/*RESPONSIVE PAGE*/


/*RESPONSIVE PAGE*/


@media (max-width:1920px) {
    
}

  

@media (max-width:1400px) {
    
}



@media (max-width:1200px) {
	.contentAll{
		margin-top: 2%;
	}
    
}


@media (max-width:992px) {
    
}

  

@media (max-width:768px) {
	.contentAll{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 30px;
		margin-bottom: 60px;
	}
	.contentLogo{
		width: 90%;
		height: auto;
	}
    
	.contentText{
		width: 90%;
	}
}



@media (max-width:576px) {
    
}



@media (max-width:400px) {
    
}

  

@media (max-width:360px) {
    
}


