.content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contentTitle {
	width: 100%;
	height: 100px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 30px;
}
.contentIconReturn {
	width: 40px;
	height: 40px;
	overflow: hidden;
	cursor: pointer;
}
.contentIconReturn img {
	width: 100%;
	height: 100%;
}
.title {
	text-align: center;
	font-size: 30px;
	font-family: starCartoon, sans-serif;
	color: rgb(5, 128, 5);
	-webkit-text-stroke: 1px rgb(0, 255, 255);
	
}
.titulo {
	text-align: center;
	font-size: 50px;
	font-family: rickAndMorty;
	color: rgb(1, 223, 1);
	-webkit-text-stroke: 1px rgb(0, 255, 255);
	margin-top: 2%;
}

.contentCard{
    width: 80%;
    height: 500px;
    background: rgba(0,0,0,0.6);
    display: grid;
    grid-template-columns: 60% 40%;
    border-radius: 20px;
    box-shadow: 3px 3px 5px white;
    overflow: hidden;
}

.contentImage{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.contentImage .image{
    width: 100%;
    height: 100%;
}

.contentText{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textDetail{
    color: white;
    font-size: 20px;
    font-family: RobotoRegular;

}

.textDetail span{
    color: #fff011;
    font-size: 22px;
    font-family: RobotoLightItalica;
    
    font-weight: 700;
}

.buttonExit{
    width: 100px;
    height: 50px;
    border-radius: 10px;
    background:  linear-gradient(180deg, #1e1fd1, #dc0a5f);
    font-size: 15px;
    color: white;
    font-family: RobotoLightItalica;
    font-weight: 600;
    cursor: pointer;
    margin-top: -7%;
    margin-bottom: 5%;
}

.buttonExit:hover{
	background:  linear-gradient(180deg, #dc0a5f, #1e1fd1 );
}

.characterNotFound {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 30px;
}
