.content {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 2%;
}

.contentTitle {
	width: 100%;
	height: 100px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 30px;
}
.contentIconReturn {
	width: 40px;
	height: 40px;
	overflow: hidden;
	cursor: pointer;
}
.contentIconReturn img {
	width: 100%;
	height: 100%;
}
.title {
	text-align: center;
	font-size: 30px;
	font-family: starCartoon, sans-serif;
	color: rgb(5, 128, 5);
	-webkit-text-stroke: 1px rgb(0, 255, 255);
	margin-top: 2%;
}



/*RESPONSIVE PAGE*/


/*RESPONSIVE PAGE*/


@media (max-width:1920px) {
    
}

  

@media (max-width:1400px) {
    
}



@media (max-width:1200px) {
    
}


@media (max-width:992px) {
    
}

  

@media (max-width:768px) {
    
}



@media (max-width:576px) {
    
}



@media (max-width:400px) {
    
}

  

@media (max-width:360px) {
    
}


