.container {
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.content{
    width: 100%;
    height: auto;
	overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.contentFilters {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 30px;
	
}

.contentPagination {
	width: 100%;
	height: auto;
}

.titleMain {
	text-align: center;
	font-size: 50px;
	font-family: rickAndMorty;
	color: rgb(1, 223, 1);
	-webkit-text-stroke: 1px rgb(0, 255, 255);
	margin-top: 2%;
}
