.contentainer {
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.content {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 50px;
}

.contentLeanding {
	width: 50%;
	height: auto;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0px;
}

.titleMain {
	text-align: center;
	font-size: 50px;
	font-family: starCartoon, sans-serif;
	color: rgb(3, 112, 3);
	-webkit-text-stroke: 2px rgb(0, 255, 255);
	margin-top: 2%;
}

.contentImage {
	width: 90%;
	height: 300px;
	overflow: hidden;
	margin-top: -8%;
}

.image {
	width: 100%;
	height: 100%;
}

.contentOptions {
	width: 45%;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 30px;
	overflow: hidden;
}

.boxButton {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.disabledButton {
	background: linear-gradient(180deg, #4141f5, #f14389);
	height: 40px;
	border-radius: 6px;
	color: white;
	font-size: 20px;
	font-family: robotoLightItalica, sans-serif;
	cursor: pointer;
	border: 1px solid rgb(255, 255, 255);
	padding-left: 20px;
	padding-right: 20px;
}

.button {
	height: 40px;
	background: linear-gradient(180deg, #1e1fd1, #dc0a5f);
	border-radius: 6px;
	color: white;
	font-size: 20px;
	font-family: robotoLightItalica, sans-serif;
	cursor: pointer;
	border: 1px solid rgb(255, 255, 255);
	padding-left: 20px;
	padding-right: 20px;
}
.button:hover {
	background: linear-gradient(180deg, #dc0a5f, #1e1fd1);
}

/*RESPONSIVE PAGE*/

/*RESPONSIVE PAGE*/

@media (max-width: 1920px) {
}

@media (max-width: 1400px) {
}

@media (max-width: 1200px) {
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
	.contentOptions {
		width: 40%;
	}
}

@media (max-width: 576px) {
	.content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 30px;
	}

	.contentLeanding {
		width: 90%;
		height: auto;
	}

	.contentOptions {
		width: 90%;
	}
}

@media (max-width: 400px) {
	.titleMain {
		font-size: 40px;
	}
	.contentOptions {
		width: 80%;
		margin-bottom: 60px;
	}
}

@media (max-width: 360px) {
	.titleMain {
		margin-top: 3%;
	}
}
