.content {
	width: 100%;
	height: auto;
	padding: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.button {
	width: 150px;
	height: 40px;
	border-radius: 5px;
	background: linear-gradient(180deg, #1e1fd1, #dc0a5f);
	font-size: 15px;
	color: white;
	font-family: RobotoLightItalica;
	font-weight: 600;
	cursor: pointer;
    border: 1px solid white;
}

.button:hover {
	background: linear-gradient(180deg, #dc0a5f, #1e1fd1);
}

.selectOption {
	width: auto;
	height: auto;
	font-size: 15px;
	font-family: robotoLightItalica, sans-serif;
	padding: 10px;
    cursor: pointer;
}

.filterTitle {
	font-size: 20px;
	font-family: RobotoRegular;
	color: white;
}



/*RESPONSIVE PAGE*/


/*RESPONSIVE PAGE*/


@media (max-width:1920px) {
    
}

  

@media (max-width:1400px) {
    
}



@media (max-width:1200px) {
    
}


@media (max-width:992px) {
    
}

  

@media (max-width:768px) {
    
}



@media (max-width:576px) {
    
}



@media (max-width:400px) {
    
}

  

@media (max-width:360px) {
    
}


