.container {
	width: 100%;
	height: 70px;
	background: rgba(0, 0, 0, 0.5);
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.content {
	width: 90%;
	height: auto;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	gap: 10px;
}

.link {
	text-decoration: none;
	color: white;
	font-size: 20px;
	font-family: RobotoLightItalica;
	font-weight: 600;
}

.contentProfile {
	width: auto;
	height: auto;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 10px;
	padding: 10px;
}

.profile {
	width: 40px;
	height: 40px;
	border-radius: 100px;
	overflow: hidden;
}

.profile img {
	width: 100%;
	height: 100%;
}

.nameUser {
	color: white;
	font-size: 20px;
	font-family: RobotoLightItalica;
	font-weight: 600;
}

.button {
	height: 30px;
	background: linear-gradient(180deg, #1e1fd1, #dc0a5f);
	border-radius: 6px;
	color: white;
	font-size: 15px;
	font-family: robotoLightItalica, sans-serif;
	cursor: pointer;
	border: 1px solid rgb(255, 255, 255);
	padding-left: 10px;
	padding-right: 10px;
}
.button:hover {
	background: linear-gradient(180deg, #dc0a5f, #1e1fd1);
}
