.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content{
    width: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
    background: rgba(0, 0, 0, 0.644);
    padding: 20px;
    border-radius: 10px;
}

.title{
    text-align: center;
	font-size: 50px;
	font-family: starCartoon, sans-serif;
	color: rgb(3, 112, 3);
	-webkit-text-stroke: 2px rgb(0, 255, 255);
	margin-top: 2%;
}

.form{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.contentFields{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.contentFields input{
    width: 90%;
    font-size: 15px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.contentFields span{
    width: 80%;
    color: white;
    font-size: 15px;
    padding: 5px;
}

.button {
	height: 40px;
	background: linear-gradient(180deg, #1e1fd1, #dc0a5f);
	border-radius: 6px;
	color: white;
	font-size: 20px;
	font-family: robotoLightItalica, sans-serif;
	cursor: pointer;
	border: 1px solid rgb(255, 255, 255);
	padding-left: 20px;
	padding-right: 20px;
}
.button:hover {
	background: linear-gradient(180deg, #dc0a5f, #1e1fd1);
}



/*RESPONSIVE PAGE*/


/*RESPONSIVE PAGE*/


@media (max-width:1920px) {
    
}

  

@media (max-width:1400px) {
    
}



@media (max-width:1200px) {
    
}


@media (max-width:992px) {
    
}

  

@media (max-width:768px) {
    
}



@media (max-width:576px) {
    
}



@media (max-width:400px) {
    
}

  

@media (max-width:360px) {
    
}


